@charset "utf-8";
/* CSS Document */

/* 清除内外边距 */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
button, input, textarea, select, /* form elements 表单元素 */
table { /* table elements 表格元素 */
    margin: 0;
    padding: 0;
}

/* 设置默认字体 */
body
{ /* for ie */
    /*font: 12px/1 Tahoma, Helvetica, Arial, "宋体", sans-serif;*/
    font: 12px/1.7 Tahoma, Helvetica, Arial, sans-serif; /* 用 ascii 字符表示，使得在任何编码下都无问题 */
	border:0;
}

h1 { font-size: 18px; /* 18px / 12px = 1.5 */ }
h2 { font-size: 16px; }
h3 { font-size: 14px; }
h4, h5, h6 { font-size: 100%; }

address, cite, dfn, em, var { font-style: normal; } /* 将斜体扶正 */
code, kbd, pre, samp, tt { font-family: "Courier New", Courier, monospace; } /* 统一等宽字体 */
small { font-size: 12px; } /* 小于 12px 的中文很难阅读，让 small 正常化 */

/* 重置列表元素 */
ul, ol { list-style: none; }

/* 重置文本格式元素 */
a { text-decoration: none; }
a:hover { text-decoration: underline; }


/* 重置表单元素 */
fieldset, img { border: none; } /* img 搭车：让链接里的 img 无边框 */
/* 注：optgroup 无法扶正 */
button, input, select, textarea {
    font-size: 100%; /* 使得表单元素在 ie 下能继承字体大小 */
}
/*select,input,button,button img,label{vertical-align:middle}*/
input[type="text"]
{-webkit-appearance:none}
input[type="button"], input[type="reset"], input[type="submit"]
{font-size: 12px; padding:0 6px; height:24px; position: relative; color:#666;vertical-align:middle;}
.sbtn{ font-weight:bold;}/*按钮文字加粗*/

/* 重置表格元素 */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clear{ clear:both}
.left{ float:left;}
.right{ float:right;}

/* 头部文件header */
#header{ width:100%; background:#3DA1F5 url(../images/layout/top-bg-new.gif) no-repeat left top; height:75px; border-top:1px solid #FFF;}
.logo{ float:left; margin:12px 0 0 13px;}
.header-right{ float:right; color:#FFF; width:252px;}
.header-r01{ background:url(../images/layout/top-right-bg.png) no-repeat top left; height:37px; line-height:34px; padding:0 0 0 15px;}
.header-r02{ margin:8px 0 0 16px; padding-right:10px;}
.header-right a{ color:#FFF;}    .header-right a:hover{ text-decoration:underline;}
.header-right span{ padding-left:20px;}
.header-right span.h_down{ position:relative; margin-right:10px; background:url(../images/layout/down.gif) no-repeat left center;}
.header-right span.h_down .h_down_news{ padding:0; line-height:0;
	position:absolute;
	background:url(../images/layout/news.gif) no-repeat left top;
	width:16px; height:16px;
	top:-7px;
	left:94px;
}
.header-right span.h_user{ background:url(../images/layout/user.gif) no-repeat left center; display:inline-block; width:84px; margin-right:20px;}
.header-right span.h_exit{ background:url(../images/layout/exit.gif) no-repeat left center;}

/* 底部文件footer */
#footer{ width:100%; background:#348EF3 url(../images/layout/foot-bg-new.gif) no-repeat right top; height:36px; border-top:1px solid #FFF; text-align:right;}
#footer img{ margin-right:20px;}
