@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0}
 
body  {
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	background: #fff;
	margin: 0; 
	padding: 0;
	text-align: center; 
	color: #000000;
	font-family:"宋体";
}
a:link,a:hover,a:visited,a{
   text-decoration:none
   
}
ul,li{list-style:none}
img,input{ border:0;}
.twoColLiqLtHdr #header { 
	width: 100%;
} 
.twoColLiqLtHdr #warp { 
	width: 100%;  
	background: #FFF;
	margin: 0 auto; 
	text-align: left; 
} 
.twoColLiqLtHdr #sidebar1 {
	float: left; 
	/*width: 225px;*/
	width: 25%;
	background: #fff; 
	
}
.twoColLiqLtHdr #mainContent { 
	margin: 0 0px 0 232px; _margin: 0 0px 0 229px;
} 
 #header { 
	width: 100%;
	background: #FFFFFF;
	margin: 0 auto; 
	height:100px;
}



.fltrt { 
	float: right;
	margin-left: 8px;
}
.fltlft { 
	float: left;
	margin-right: 8px;
}
.clearfloat {
	clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}

/* header */
.logobox{
	background:url(../images/header_bg.jpg) repeat-x top;
    margin:0 0 1px 0;
    width:100%;
}
.logo{
  float:left
}
.exit{
  float:right; margin:0 50px 0 0; _padding: 18px 0 0 0; _margin:0 20px 0 0;
}
.exit img{
  margin:0 5px 0 5px; vertical-align:middle;
}
.exit span{
  color:#fff; font-size:12px; font-weight:bold
}
.hellobox{
    background:url(../images/linebg.gif) repeat-x;
	border-top:1px #aed0e9 solid;
	height:28px;
	line-height:25px;
	margin:0 0 5px 0;
}
.helloleft{
  float:left; margin:0 0 0 105px; font-size:12px; _margin:0 0 0 60px;
}
.helloleft img{
  margin:0 5px; vertical-align:middle;
}
.helloleft span{
	color:#ff1001; font-size:12px; line-height:28px; margin:0 7px;
}
.helloright{
float:right; margin: 0 25px 0 0; font-size:12px;  width:30%; _margin: 0 0 0 0;
}


/* left */
.sidetitl{
	background:url(../images/leftitlbg.gif) repeat-x;
	height:34px;
	line-height:34px;
	color:#fff;
	padding: 0 0 0 15px;
	font-weight:bold;
	text-align:left;
	font-family:"微软雅黑";
	font-size:12px;
}
.sidetitl img{ margin:0 5px; vertical-align:middle}
h4{ 
 margin:0; padding:0; text-align:left; color:#fff; font-size:14px;

}
.sidebg{
  	margin:0 0 0 15px;
	background:#bbdcff; 
	border-bottom:4px #bbdcff solid;
}
.sidebox{
  border:1px #c0dcf1 solid;
  text-align:left;
  margin:0 0 0 15px;
  background:#ecf6ff;
  height:580px;
  _height:550px;
}
.menu{
	border-bottom:1px #c0dcf1 solid;
}
.leftmenu1 a,.leftmenu1 a:visited {
	display:block;
	text-align:left;
	text-decoration:none;
	height:30px;
	color:#00086a;
	border-width:1px 1px 0 0;
	background:url(../images/title_bg1.jpg) repeat-x;
	line-height:30px;
	padding: 0 0 0 18px;
	font-family:"微软雅黑";
	line-height:30px; 
	font-weight: bold; cursor: hand;
	font-size:14px;
}
.leftmenu1 a:hover {
	color:#fe2303;
	background:url(../images/title_bg2.jpg) repeat-x;    
	border-top:1px #c0dcf1 solid;
	text-decoration:none;
	line-height:30px; 
}
.leftmenu1{_padding:5px 0 0 0;}

.leftmenu2 {  
	height: 25px;text-align: left;  
	padding: 0 0 0 33px; font-size:12px; 
	background:#ecf6ff; 
	border-top:1px #c0dcf1 solid; text-decoration:none; line-height:25px;
	_padding:5px 0 0 33px;
}
.leftmenu2 img,.leftmenu1 img{  
	margin:0 8px 0 0; vertical-align:middle; _margin:5px 8px 0 0;
}
.leftmenu2 a:link,a:visited{  color:#00086a; text-decoration:none
}
.leftmenu2 a:hover{ background:#ecf6ff;color:#fe2303; text-decoration:none
	}




/* main common */
.mainbox{
   border:0px #c0dcf2 solid;
   /*height:670px; */
	   
   font-family:"微软雅黑";
   margin:0 0 0 5px;
   width:100%
}

 .title{ height:20px; line-height:32px; color:#686868; margin-bottom:10px;text-align: left;}	

h5{
	font-size:12px; 
	height:29px; 
	line-height:29px; 
	margin:0; 
	padding:0 0 0 15px;
}
h5 img{
	margin:5px 6px 0 0;
}
.commbox{
    background:url(../images/mainbutbg.jpg) repeat-x top; 
 	border-top:1px #c0dcf2 solid;
 	padding:10px 0 0 0;
}


/* manager */
.butline{
	margin:0; width:99%;font-size:12px;
}
.butline div{
	font-size:12px;  cursor:pointer; width:58px;
}
.butline .addbg{
   background:url(../images/add.jpg) no-repeat; width:58px; height:21px; 
   line-height:21px; color:#275c86; border:0; text-align:right; 
   cursor:pointer; 
}
.butline .delbg{
   background:url(../images/del.jpg) no-repeat; width:58px; height:21px; 
   line-height:21px; color:#275c86; border:0; text-align:right; 
    cursor:pointer
}
.butline .edibg{
   background:url(../images/edi.jpg) no-repeat; width:58px; height:21px; 
   line-height:21px; color:#275c86; border:0; text-align:right; 
   padding: 0 5px 0 0; cursor:pointer
}
.butline table{width:auto;float:left; margin:0 0 5px 0}
.butline td{ margin:0px 5px; padding:0 5px;}
.databox{
   	font-family:"宋体"; font-size:12px; width:99%; margin:0 auto
}
.databox .cz{
   width:auto;color:#385b77; background:none;border:none;
}
.databox .cz:link,.databox .cz:visited{ cursor:pointer}
.databox .cz:hover{background:none;border:none; color:#fe1003;cursor:pointer}


.tablestyle{
	border-top:1px #c6e2fa solid;border-right:1px #c6e2fa solid; width:100%;text-align:center;font-size: 15px;
}
.tablestyle td a:link,.tablestyle td a:visited{ text-decoration:none;}   .tablestyle td a:hover{ color:#BD0A01; text-decoration:underline;}
.tablestyle .td_money{ text-align:right;font-family:Georgia, Arial, Times, serif}
.tablestyle .td_center{ text-align:center;}

.tablestyle a:hover{color:#fe1003;}

.tablestyle td,.tablestyle th{
	border-left:1px #c6e2fa solid;
	border-bottom:1px #c6e2fa solid;
	height:22px; line-height:22px;
	padding:0 3px;margin:0;
	
}
.tablestyle td{ padding:3px 5px;         color:#424242;border-bottom:1px solid #D9F3FF; border-right:1px solid #D9F3FF; text-align:center;}
.tablestyle tr:hover{ background-color:#edf6ff; color:#385b77} 
.tablestyle th{ background:url(../images/g-table-title-bg.gif) left top repeat-x; height:30px; line-height:30px;border-right:1px solid #D9F3FF;border-bottom:1px solid #D9F3FF; color:#686868; padding:0 5px;}
.tablestyle tbody{
 color:#385b77; font-size:15px;
}
.tablestyle .td_a{
  color: #0000EE;
}
td .link01{ color:#090;}   td .link02{ color:#09C;}    td .link03{ color:#963;}   td .link04{ color:#990;}   td .link05{ color:#F60;}


.next{
	background:url(../images/nextline.jpg) repeat-x top; 
	color:#080806; width:99%;
	margin:0 auto;
	font-family:"微软雅黑"; font-size:12px; width:99%;
}
.next .borders{
	border-bottom:1px #c6e2fa  solid;
	border-left:1px #c6e2fa  solid;
	border-right:1px #c6e2fa  solid;
	font-family:"微软雅黑"; font-size:12px;
}

.sn{
	background:#edf6ff;
}
ul.buts{
  line-height:25px; list-style:none; padding:3px 0; width:auto;
}
ul.buts li{
  line-height:25px; float:left; margin: 0 4px
}
ul.buts li.word{
  margin:0 0 0 20px;
}
ul.buts li.word span{
  margin:0 8px; color:#fe1003
}
ul.buts li .nextbg{
   background:url(../images/nextbut.jpg) no-repeat; width:48px; height:21px; line-height:21px; color:#275c86; border:0;cursor:pointer
}
ul.buts li .nexttext{
   width:50px; border:1px #ccc solid; margin: 0 5px
}
ul.buts li .nextbg:link,ul.buts li .nextbg:visited{background:transparent url(../images/nextbut.jpg) no-repeat; height:21px; line-height:21px;width:48px; cursor:pointer; _border:1px #ccc solid}
ul.buts li .nextbg:hover{background: transparent url(../images/nextbut2.jpg) no-repeat; height:21px; line-height:21px;width:48px; color:#00086a; cursor:pointer;_border:1px #ccc solid}

.cz{
 background:#fff;border:none; color:#fe1003;cursor:pointer;
}
/* history */
.search{
	width:99%; margin:6px auto;
}
.search .custitl{
    background:url(../images/thbg.jpg) repeat-x; 
	line-height:24px;
	color:#385b77;
	text-align:left;
	border-top:1px #c6e2fa solid;
	border-left:1px #c6e2fa solid;
	border-right:1px #c6e2fa solid;
	font-weight:bold;
	font-size:14px;
	padding: 0 0 0 18px;
	

}

.search table{
   border-left:1px #c6e2fa solid; 
   border-top:1px #c6e2fa solid; 
   line-height:30px;
   width:100%;
   margin:0 auto;
   vertical-align:top;
   color:#385b77;
   font-size:14px;
   font-weight:bold;
   text-align:left;
   background:#edf6ff;
}
.search td{
   border-right:1px #c6e2fa solid; 
   border-bottom:1px #c6e2fa solid; 
   padding: 0 1px;
   line-height:30px;
   height:30px
}
.search span{
	_margin:0 0 0 20px;

}
.search .noborder{ border:0;}
.search .inpstyle{
	background:#FFF;border:1px solid #63AAE6; height:22px; margin:0 10px; line-height:22px; color:#666; padding:0 4px;
}
.search.selstyle{
 width:170px;border:1px #adb9c5 solid; line-height:20px; height:20px;
}
.search .buts{
	background:url(../images/seacr.jpg) no-repeat; width:39px; height:22px; line-height:22px;
}
.search .butstyle{
	background:url(../images/g-btn.gif) left top no-repeat; width:60px; height:24px; color:#FFF;
}
.search .butstyle2{
	background:url(../images/cussub2.jpg) no-repeat; width:110px; height:21px; line-height:21px; margin: 0px 18px; cursor: pointer
}
.search .divcom{
	padding:0 0 0 178px; _padding:0 0 0 182px
}



/*search搜索*/
.tab_content .search{border:1px solid #D9F3FF; background:#F9FBFE; padding:10px; margin-bottom:10px;}
.tab_content .search form{float:left; color:#666; line-height:24px; padding-right:50px;}
.search_cont{ margin:0 auto; width:760px;}
.tab_content .search .inpstyle{background:#FFF;border:1px solid #63AAE6; height:22px; margin:0 10px; line-height:22px; color:#666; padding:0 4px;}
.tab_content .search .btnstyle{background:url(../images/g-btn.gif) left top no-repeat; width:60px; height:24px; color:#FFF;}
.add_account{ margin-bottom:10px; padding-left:10px;text-align:left;}
.add_account a{ background:url(../images/Add%2016x16.gif) left center no-repeat; padding-left:20px; text-decoration:none; color:red;font-size: 13px;}
.clear{ clear:both;}
a.search_account{ background:url(../images/g-search.gif) left center no-repeat; padding-left:20px; text-decoration:none; color:red;font-size: 13px;}
a.all_export_account{ background:url(../images/g-all.gif) left center no-repeat; padding-left:20px; text-decoration:none; color:red;font-size: 13px;}

	/*---modify ---*/
.modify_title{border-bottom: 1px solid #5198D6;margin-bottom:10px;text-align:left;}
.modify_title h2{height:27px; line-height:27px; width:88px; text-align:center;overflow:hidden; border:1px solid #5198D6; border-bottom:none; font-size:12px;background:url(../images/g-tab-bg.gif) left top repeat-x; color:#FFF;}
.modify_container div{ clear:both; margin-bottom:10px;color:#686868;}
.modify_container{text-align:left;font:normal 14px/170% "宋体";}
.modify_container label{ display:block; float:left; width:160px; text-align:right; padding-right:10px;}
.modify_container input,.modify_container select,.modify_container textarea{width:200px;background:#FFF;border:1px solid #63AAE6;}
.modify_container input{ height:22px; line-height:22px;}
.modify_container .btnstyle{ border:none; clear:both;background:url(../images/g-btn.gif) left top no-repeat; width:60px; height:24px; color:#FFF; margin-left:170px;}
	/*--select--*/






.textcont{
     border:1px #c6e2fa solid; background:#edf6ff;
}
.divol{ margin: 0 0 0 5%; padding:15px 0 30px 0; text-align:left;}
.divol p{  font-family:"微软雅黑"; font-size:14px; margin: 5px 0 5px -20px;color:#385b77; color:#fe2303;font-weight:bold;}
.divol ol{  font-size:12px; line-height:25px; font-weight:bold;color:#385b77; }
.divol li{ list-style:decimal}

	/*---page 分页---*/
#page{ margin:20px 0 10px; padding-top:20px; border-top:1px solid #CCC; text-align:center; color:#636363;}
#page span,#page a{ color:#636363; margin:0 5px; border:1px solid #CACACA;padding:6px 10px;}
#page a{color:#09F; text-decoration:none;}
#page a:hover{ background:#EFEFEF;}
#page a.current{ background:#F9FBFE; border:1px solid #4DB8EB; color:#5198D6;}
#page .text{ border:none;}