@charset "utf-8";
/* CSS Document */
html,body{ text-align:left; font-size:12px; color:#333;}
input[type="text"], input[type="password"], select, textarea{ border:1px solid #CCC;}
input[type="text"], input[type="password"]
{
	height:20px;line-height:20px;
}
select{ height:22px; line-height:22px;}

/* 搜索区域 */
#toolbar{ margin-bottom:10px; line-height:40px;}
#toolbar span{ display:inline-block;margin-right:10px;}

#toolbar form{ background:#F4F9FC; border:1px solid #B5DFE1; padding:0 5px;}
#toolbar .inpstyle{
	width:138px;
	background:url(../images/inp-bg.gif) repeat-x left top;		
}
#toolbar select{ width:138px; }
#toolbar .btnstyle{
	border:none;
	background:url(../images/btn-bg.gif) no-repeat left top;
	width:90px; height:30px;
	color:#FFF; font:bold 14px/30px "微软雅黑";
	cursor:pointer;
}
/*.link_red{ color:#F00;}
.link_blue{color:#2C82D9;}
.link_img{background:url(../images/bill/bill_bg.gif) no-repeat -82px -62px; padding-left:15px;}*/
.link_red{color:#2C82D9; background:url(../images/bill/bill_bg.gif) no-repeat -82px -62px; padding-left:15px;}
/*#toolbar span a.add{background:url(../images/bill/bill_bg.gif) no-repeat -82px -75px;}*/
#toolbar span a.add, .pp_dl a.add{background:url(../images/bill/bill_bg.gif) no-repeat -82px -75px;} /* .pp_dl 用户属性添加 */
#toolbar span a.message, .pp_dl a.message{background:url(../images/bill/bill_bg.gif) no-repeat -82px -88px;}

.add_account{ margin:5px 0;}
.add_account a{
	display:inline-block;
	color:#333;
	border:1px solid #CCC;
	background: left top;
	padding:0 6px;
	height:28px; line-height:28px;
	margin-right:5px;
}
.add_account a:hover{
	border:1px solid #96B9F7;
	background:url(../images/t-btn-bg-hover.gif) repeat-x left top;
	text-decoration:none;
}

/* 表单 */
.add_top{ height:30px; line-height:30px; border-bottom:1px solid #6CAEDD; background:#e1f2fc; padding:0 10px;}
.add_top a{ font-weight:bold;}
.add_top h2{ font-size:14px; color:#1E5791;}
.add_form{ margin:10px 0; line-height:24px;}
.add_form .g-form-item{ padding:8px 0; border-bottom:1px solid #EEEEEE; clear:both; zoom:1; overflow:hidden; position:relative}
.add_form .g-form-item label{ float:left; width:150px; padding-left:10px; height:24px; white-space:nowrap;}
.add_form .g-form-item .g-form-cont{ height:auto; margin-left:160px; position:relative;}
.add_form .g-form-item .g-form-btn{ padding-left:115px;}
.add_form .g-form-item .g-form-btn input{ margin-right:10px; display:inline-block;}
a.a_inline{ margin-left:10px; padding:5px; background:#48bcff; color:#FFF; text-decoration:underline;}

.g-cont-select{ margin-top:10px;}
.g-cont-select span{
	display:block;
	float:left;
	padding:0 0 0 2px;
	border:1px dotted #6CC;
	margin-right:10px;
	
	}
.g-cont-select span a{
	display:inline-block;
	width:11px; height:11px;
	background:#cae0f0 url(../images/layout/tabs_close.gif) no-repeat center center;
	margin:0 3px;
	}

/* 表格 */
.tablestyle{ width:100%; border:1px solid #778899; border-bottom:none; border-right:none; line-height:1.5;}
.tablestyle th, .tablestyle td{border:1px solid #778899; border-top:none; border-left:none; padding:5px; font-family:Tahoma, Geneva, sans-serif}
.tablestyle th{
	background-color: #A3C6FB;
	background-image: -moz-linear-gradient( top, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.1) 51%, rgba(255,255,255,0.0) 100%);
	background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.4)), color-stop(50%,rgba(255,255,255,0.2)), color-stop(51%,rgba(255,255,255,0.1)), color-stop(100%,rgba(255,255,255,0.0)));
	color: #121517;
	font-size: 12px;
	font-weight: bold;
	text-shadow: 0 1px 1px #E8EBEE;
}

.txt_right{ text-align:right; padding-right:10px;}
th .sort{ position:relative; padding-right:11px; background:url(../images/sort.gif) no-repeat right center;}

/*---单击 链接  提示是个链接样式---*/
.tablestyle td .td_a{ color:#00C; font-size:14px;}
.tablestyle td .td_a:hover{ color:#F00;}

/*  */
.fixed-box{
	width:100%;
	position:fixed;
	_position:absolute;
	bottom: 0;
	_bottom: 0;
	left:0;
	_left:0;
	right: 0;
	_right:0;
	_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));
	box-shadow: 0 -3px 3px #ddd;
	border-top:2px solid #ddd;
	padding-bottom:10px;
	background:#F6F6F6;
}
.fixed-box .search{ padding:10px 0; border-bottom:1px solid #ddd;}
.fixed-box .search .butstyle {
	border:none;
	border:1px solid #2876c5;
	padding:0 5px;
	background:#3D87D4 url(../images/btn-bg-01.gif) repeat-x left center;
	height:26px;
	color:#FFF;
	font:normal 12px/26px;
	cursor:pointer;
}
/** 标签 **/
a.btn-tag{ position:absolute; right:-76px; bottom:110px; display:block; width:76px; height:36px; background:#eef9ff; color:#999; font-weight:bold; text-align:center; line-height:36px;}
a.btn-tag:hover{ background:#a0dcff; color:#FFF; text-decoration:none;}
.tags span{ display:inline-block; background:#F8F8F8; border:1px dashed #E5E5E5; padding:2px 5px; margin:5px; color:#666; white-space:nowrap;}
.tags span a{ font-size:14px; padding:2px; color:#6CC;}
.tags span a:hover{color:#039; text-decoration:none;}
.tags span input{ display:none;}

#box{
	display:none;
	position:absolute;
	bottom:110px; right:0px;
	width: 400px;
	height: 100px; 
	background:#FFF;
	border:2px solid #D5D5D5;
	overflow:auto;
	text-align:left;
	padding:10px;
 }
#box select{ margin-right:10px;}

#nav{ overflow:hidden; width:1110px; margin:0 auto; padding-top:20px}
#nav ul{ overflow:hidden;}
#nav li{ float:left; padding:0 10px;}
#nav li a{ display:block; padding:4px 10px;
	font-size:16px; font-family:"微软雅黑"; color:#2C82D9; font-weight:bold; text-decoration: none;}
	#nav li a:hover{ text-decoration: none;}
#nav li .current{ color:#fff; background:#2C82D9;}

#header{ height:30px; width:100%; background:#5d6d7d; margin-bottom:20px;}
	.header{ width:1000px; margin:0 auto; text-align:right; color:#FFF; line-height:30px;}
	.header a{ color:#FFF; text-decoration:none;}