@charset "utf-8";
/* CSS Document */

/* 清除内外边距 */
body, h1, h2, h3, h4, h5, h6, hr, p, 
dl, dt, dd, ul, ol, li, 
table, img{ 
    margin: 0;
    padding: 0;
}

body
{   font: 12px/1.7 Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif; 
	border:0;
	text-align:left;
	color:#333; position:relative;}
img{ border:none;}
ul, ol { list-style: none; }
a { text-decoration: none; }
a:hover { text-decoration: underline; }
.clear{ clear:both}
.gray{ color:#666;}

.send-content{ margin:10px; border:1px solid #EED97C; padding:10px; background:#FFFCEB;}
.s-c{ margin:5px 0;}
.s-t{ font-size:14px;border-bottom: 1px dotted #EED97C;}
.send-detail{ margin:10px; border:1px solid #C6E1F5;}
.d-t{ background:#F5FBFF; padding:5px 10px; font-weight:bold; font-size:14px;}
.d-c{ margin:10px;}
.d-time{ margin-right:20px;}